.venv/
.idea/

v5.0/
notebooks/v5.0/


models/*
!models/.gitkeep
!models/base_models/.gitkeep
predictions/*
!predictions/.gitkeep



__pycache__/
numerai_automl/__pycache__/
numerai_automl/feature_neutralizer/__pycache__/
numerai_automl/model_managers/__pycache__/
numerai_automl/ensemblers/__pycache__/
numerai_automl/model_trainer/__pycache_h/
numerai_automl/reporter/__pycache__/
numerai_automl/scorer/__pycache__/
numerai_automl/data_managers/__pycache__/
numerai_automl/utils/__pycache__/
numerai_automl/tests/__pycache__/



